* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.qss text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.txt text eol=lf
*.spec text eol=lf

*.png binary
*.ico binary
*.exe binary
